/* Fonts */
@font-face {
	font-family: 'Roboto Condensed';
	src: url('../font/RobotoCondensed-Italic.woff2') format('woff2'), url('../font/RobotoCondensed-Italic.woff') format('woff');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto';
	src: url('../font/Roboto-Regular.woff2') format('woff2'), url('../font/Roboto-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto';
	src: url('../font/Roboto-Italic.woff2') format('woff2'), url('../font/Roboto-Italic.woff') format('woff');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto Condensed';
	src: url('../font/RobotoCondensed-Regular.woff2') format('woff2'), url('../font/RobotoCondensed-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul,
ol {
	list-style: none;
}

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 100%;
}

a {
	text-decoration: none;
}

.header {
	padding-top: 16px;
	padding-bottom: 16px;
}
.container {
	max-width: 1140px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 20px;
	padding-right: 20px;
}

.header-container {
	display: flex;
	align-items: center;
	transition: opacity 0.4s ease;
}

.logo {
	display: flex;
	margin-right: auto;
}

.logo:hover {
	opacity: 0.8;
}

.logo:active {
	opacity: 0.6;
}

.header-list {
	display: flex;
	margin-right: 32px;
}
.header-item:not(:last-child) {
	margin-right: 32px;
}
.header-link {
	color: #000;
	font-weight: 500;
	font-size: 13px;
	line-height: 100%;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: color 0.4s ease, opacity 0.4s ease;
}

.header-link:hover {
	color: #ff7500;
}

.header-link:active {
	opacity: 0.6;
}

.header-link.active {
	border-bottom: 3px solid #ff7500;
	padding-bottom: 4px;
	padding-bottom: 4px;
}

.btn {
	border: none;
	background-color: #ff7500;
	padding: 12px 24px;
	color: #fff;
	font-weight: 700;
	font-size: 13px;
	line-height: 100%;
	letter-spacing: 0.5px;
	border-radius: 4px;
	cursor: pointer;
	transition: opacity 0.4s ease;
}
.btn:hover {
	opacity: 0.8;
}

.btn:active {
	opacity: 0.6;
}

/* HERO START */
.hero {
	background-color: #252420;
	color: white;
	padding-top: 80px;
	padding-bottom: 80px;
}

.hero-container {
	display: flex;
	justify-content: space-between;
}
.hero-info {
	max-width: 387px;
	width: 100%;
	margin-right: 203px;
}

.line {
	width: 80px;
	height: 3px;
	background-color: #ff7500;
	margin-bottom: 40px;
}
.hero-title {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 700;
	font-size: 40px;
	line-height: 120%;
	letter-spacing: 0.5px;
	margin-bottom: 24px;
}
.hero-decription {
	line-height: 1.5;
	margin-bottom: 32px;
}

.hero-img {
	margin-top: -40px;
}

.hero-img img {
	border-radius: 8px;
}

/* HERO END */



.why-academnashr {
  padding-top: 210px;
  padding-bottom: 245px;
}
.why-academnashr-title {
  font-family: 'Roboto Condensed',
  sans-serif;
  font-weight: 700;
  font-size: 72px;
  line-height: 120%;
  letter-spacing: 0.5px;
  margin-bottom: 72px;
	min-width: 435px;
	width: 100%;
}

.why-academnashr-list {
display: flex;
justify-content: space-between;
}

.why-academnashr-item {
min-width: 340px;
width: 100%;
}

.why-academnashr-ciral {
	width: 100px;
	height: 100px;
	background-color: #ff750033;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 32px;
}

.why-academnashr-item-title {
	color: #000;
	font-family: 'Roboto Condensed',
  sans-serif;
	font-weight: 700;
	font-style: 24px;
	line-height: 120%;
	letter-spacing: 0.5px;
	margin-bottom: 12px;
}

.why-academnashr-item-decription {
line-height: 150%;
letter-spacing: 0.5px;
}

.why-academnashr-line{
  margin-bottom: 24px;
}